<section class="m-5">
    {{#if productsExists}}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
                {{#each products as |product|}}
                    <tr>
                        <th scope="row">
                            {{product.id }}
                        </th>
                        <td>
                            {{product.nombre }}
                        </td>
                        <td>
                            {{product.precio}} 
                        </td>
                        <td><img src="{{product.urlImagen}}" class="w-25 h-auto"></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div class="alert alert-danger" role="alert">
            <p>No hay productos</p>
        </div>
    {{/if}}
</section>